
.header a, a:hover {
	color: #f0ad4e;
	text-decoration: none;
}

.header h1 {
	letter-spacing: 15px;
	font-size: 300%;
}

.header p{
	color: white !important;
	font-size: 90%;
	letter-spacing: 3px;

}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #346270;
}

.nav-pills>li>a {
	color: #fff;
}

.nav-pills>li>a:hover {
	background-color: #346270;
}

.navbar-inverse {
    padding: 1%;
    border-radius: 0;
}

hr {
	border-top: 1px solid #808080;
}
@media (max-width: 767px) {
	.nav-pills>li {
		float: none;
	}

	.nav-pills {
		text-align: center;
	}

	.header h1{
		letter-spacing: 5px;
		font-size: 280%
	}

	.header {
		text-align: center;
	}
}

.clear {
	clear: both;
	height: 63px;
}

.wrapper {
	min-height: 100%;
}
html, body {
	height: 100%;
}

.films_block {
	text-align: center;
}

.films_block img{
	margin-bottom: 2%;
	border-radius: 5px;
	border: solid 5px #dad7d5;
	width: 160px;
	height: 250px;
}

.film_label {
	padding: 2%;
	margin-bottom: 35px;
	width: auto;
	height: 15px;
}

.margin-8 {
	margin-top: 8%;
}


.panel {
	border: none;
}

.panel-body {
	background-color: #f9f9f9;
}

.panel-info>.panel-heading {
	background-color: #f0ad4e;
	color: white;
	border-color: transparent;
}

.sidebar-header {
	font-size: 120%;
	letter-spacing: 2px;
}

.sidebar-header a {
	color: #fff;
}

.sidebar-header a:hover {
	color: rgb(86, 87, 85);
}

.form-control {
	font-size: 14px;
	border-radius: 0px;
}

.input-lg {
	font-size: 14px;
}

.list-group-item-warning {
	color: #8a6d3b;
	background-color: #f9f9f9;
	
}

.list-group-item>.badge {
	/* float: right; */
	position: absolute;
	top: 50%;
	left: 85%;
	
	transform: translate(-50%, -50%);
}

.badge {
	background-color: #f0ac4e;
	
}

.info-block {
	font-size: 120%;
}

.info-block .badge {
	font-size: 80%;	
}

.info-block span{
	margin-right: 3%;
}

textarea.form-control {
	min-height: 200px;
	max-height: 500px;
	resize: vertical;
}

.img-thumbnail {
	margin-bottom: 5%;
}

.table tbody>tr>td.vert-align {
	vertical-align: middle;
}






/* footer */

footer {
	color: #666;
	background-color: #222;
	padding: 17px 0 18px 0;
	border-top: 1px solid #000;
}

footer a {
	color: #999;
}

footer a:hover {
	color : #fefefe;
}

